.message-enter {
    opacity: 0;
    transform: translateY(100%);
    transition: all 0.4s;
}

.message-enter-active {
    opacity: 1;
    transform: translateY(0);
}

.message-leave {
    opacity: 1;
    transform: translateY(0);
    transition: all 0.4s;
}

.message-leave-active {
    opacity: 0;
    transform: translateY(-100%);
}